autostart/
composer/
dconf/
discord/
Electron/
gcloud/
go/
gtk-3.0/
kaggle/
nautilus/
pulse/
obsidian/
QtProject/
rclone/
systemd/
Thunar/
tigervnc/
vivaldi/
weylus/
xfce4/
yay/

mimeapps.list
user-dirs.dirs
user-dirs.locale
