@import '/home/wurtle/.cache/wal/gtk-colors.css';

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0,0,0,0.5);
}

button {
    border-radius: 0;
    border-color: @foreground;
	text-decoration-color: rgba(255,255,255,1);
    color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0);
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  opacity: 0.5;
}

button:focus, button:active, button:hover {
	background-color: @foreground;
  opacity: 1;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

